LINE-Webhook/Connected Services/LineServices/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LineServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LineServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Merchant">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelAccessToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChannelId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChannelSecret" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZortId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Merchant" nillable="true" type="tns:Merchant" />
</xs:schema>