LINE-Webhook/Connected Services/LineServices/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50062/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LineServices" />
  <xs:element name="SaveEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sourceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sourceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="replyToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveEventsResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterMerchant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelSecret" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelAccessToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descriptions" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterMerchantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterMerchantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zortId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LineServices" minOccurs="0" name="GetMerchantResult" nillable="true" type="q1:Merchant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>