LINE-Webhook/Connected Services/LineServices/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LineServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LineServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFriends">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Friends" nillable="true" type="tns:Friends" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriends" nillable="true" type="tns:ArrayOfFriends" />
  <xs:complexType name="Friends">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventId" type="xs:long" />
      <xs:element minOccurs="0" name="MerchantId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Friends" nillable="true" type="tns:Friends" />
</xs:schema>