LINE-Webhook/Connected Services/ZortServices/LineAtService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://zortdevservice.azurewebsites.net/LineAtService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ZortService" />
  <xs:element name="FollowFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="displayname" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ZortService" minOccurs="0" name="channel" nillable="true" type="q1:LineIntegrationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FollowFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FollowFriendResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnFollowFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ZortService" minOccurs="0" name="channel" nillable="true" type="q2:LineIntegrationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnFollowFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnFollowFriendResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="displayname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reply_token" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ZortService" minOccurs="0" name="channel" nillable="true" type="q3:LineIntegrationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="displayname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageurl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reply_token" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ZortService" minOccurs="0" name="channel" nillable="true" type="q4:LineIntegrationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPictureResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="displayname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lng" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reply_token" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ZortService" minOccurs="0" name="channel" nillable="true" type="q5:LineIntegrationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSticker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="displayname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="packageid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stickerid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reply_token" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ZortService" minOccurs="0" name="channel" nillable="true" type="q6:LineIntegrationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStickerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStickerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertLogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>