LINE-Webhook/Connected Services/ZortServices/LineAtService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZortService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZortService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LineIntegrationModel">
    <xs:sequence>
      <xs:element name="channel_accesstoken" nillable="true" type="xs:string" />
      <xs:element name="channel_id" nillable="true" type="xs:string" />
      <xs:element name="channel_secret" nillable="true" type="xs:string" />
      <xs:element name="cs" nillable="true" type="xs:string" />
      <xs:element name="eventid" type="xs:long" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineIntegrationModel" nillable="true" type="tns:LineIntegrationModel" />
</xs:schema>